# ==============================================================================
# CONFIGURATION FILE FOR RMAN
# ==============================================================================

# Database Identity
ORACLE_SID=MYDB
ORACLE_BASE=/u01/app/oracle
ORACLE_HOME=/u01/app/oracle/product/19/dbhome_1

# Backup Destinations
BACKUP_LOC=/backup_nfs/MYDB/RMAN/
LOG_DIR=/home/oracle/scripts/log

# Performance & Tuning
PARALLELISM=4

# Retention Days (Must be numbers!)
PITR_RET=14
DAILY_RET=30
WEEKLY_RET=91
ARCH_LOCAL_RET=2
